.main{
    margin: 20px auto;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    background-color: rgb(200, 207, 246);
    padding: 40px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#meme{
    width: 100%;
}
