* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  transition: 0.5s;
  transition-timing-function: ease-in;
  background-image: linear-gradient(
    to right bottom,
    rgb(53, 76, 250),
    #fdeab5a8
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  position: absolute;
  top: 170px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: rgb(23, 33, 138);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px;
}
.fa-quote-left,
.fa-quote-right {
  font-size: 30px;
  color: rgb(23, 33, 138);
}
.quote {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.author {
  margin: 10px;
  text-align: right;
  font-size: 25px;
  font-style: italic;
  font-family: cursive;
  color: rgb(23, 70, 159);
}
hr {
  margin: 10px 0;
  width: 100%;
  border: 1px solid black;
  background-color: black;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}
.github {
  color: rgb(22, 19, 128);
  text-align: center;
  font-size: 1.8em;
  width: 60px;
  height: 35px;
  line-height: 40px;
}
.btn {
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(
    to right bottom,
    rgb(7, 27, 156),
    #f8df9ca8
  );
}
.container:hover {
  box-shadow: 0 10px 10px rgb(11, 20, 82);
}
