body{
    background-color:rgb(239, 203, 233);
    margin:0;
    padding:0;
  }
  
  .container, .menu{
        height: 100px;
              width: 100px;
              position: absolute;
              margin: auto;
        top:20px;
              bottom: 0;
              left: 25px;
              right: 0;
              cursor: pointer;
  }
  
  
  .menu{
    z-index:-1;
    transform:scale(0.9);
  }
  
  
      .toggle{
          height:0px;
      width:40px;
      border-bottom:30px solid #6c1460;
      border-right:15px solid transparent;
      border-left:15px solid transparent;
      position:absolute;
      top:0;
          }
  .toggle::before{
      content:'';
      position:absolute;
        height:0px;
      width:40px;
      border-top:30px solid #63146c;
      border-right:15px solid transparent;
      border-left:15px solid transparent;
      top: 30px;
        left: -15px;
  }
  
  .item{
        height:0px;
      width:40px;
      border-bottom:30px solid rgb(8, 8, 8);
      border-right:15px solid transparent;
      border-left:15px solid transparent;
      position:absolute;
      top:0;
        transition: 1s;
  
  }
  
  .item::before{
      content:'';
      position:absolute;
        height:0px;
      width:40px;
      border-top:30px solid rgb(112, 29, 101);
      border-right:15px solid transparent;
      border-left:15px solid transparent;
      top: 29px;
        left: -15px;
  }
  
  
  #add{
    font-size:2rem;
    color:#fff;
    position:relative;
    top:12px;
    left:5px;
    transition:1s;
  }
  
  
      a>i{
              color: #d2d2d2;
              font-size: 1.2rem;
          }
  
  
      a{
              position: relative;
              top: 20px;
              left: 9px;
          }
          i:hover{
              color: #efe7ef;
              transform: scale(1.3);
              transition: 0.5s;
  }
  
  
