@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Open+Sans&family=Poppins:ital,wght@0,100;0,300;1,200;1,300;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    /* background: url(b3.jpeg) no-repeat;
    background-size: cover;
    background-position: center; */

}

.container {
    position: fixed;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
    float: right;
}

.nav.active {
    width: 60px;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
}

.nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.nav ul li:hover {
    background: #03a9f4;

}

.nav ul li:nth-child(1) {
    margin-bottom: 20px;
}

.nav ul li:nth-child(1):hover {
    background: transparent;
}

.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;


}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.nav ul li a .icon .fa {
    color: #fff;
    font-size: 24px;
}

.nav ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;

}

.nav ul li a span h2 {
    padding-left: 4rem;
}

/* header */
.main {

    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
    float: right;


}

.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar {
    width: 100%;
    padding: 0 10px;
    display: flex;
    background: #fff;
    height: 60px;
    justify-content: space-between;
    align-items: center;

}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;

}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search label .fa {
    position: absolute;
    left: 15px;
    top: 4px;

}

.user {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;
    left: 300px;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    object-fit: cover;
}

.topbar .username {
    position: relative;
    display: inline;
    color: #3eb8f0;
    right: 10px;
}

.username small {
    color: #999;
}

.cardbox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cardbox .card {
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardbox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.cardbox .card .cardname {
    color: #999;
}


/* Make responsive */

@media(max-width: 992px) {
    .nav {
        left: -300px;
    }

    .nav.active {
        left: 0;
        width: 300px;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        width: calc(100% - 300px);
        left: 300px;
    }

    .cardbox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 480px){
    .cardbox{
        grid-template-columns: repeat(1,1fr);
    }
    .nav{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .nav.active{

        width: 100%;
        left:0;
    }
    .toggle.active{
        z-index:1000;
        right: 0;
        left: initial;
        position: fixed;
    }
    .toggle.active::before{
        color: #fff;
    }
    .main, 
    .main.active{
        width: 100%;
        left: 0;
    }
}
