:root{
     --primary-color:#f6e230;
}
h2{
     text-align: center;
}
.signature-pad-form{
    width: 30rem;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.signature-pad{
     cursor: crosshair;
     width: 100%;
     border: 2px solid var(--primary-color);
     border-radius: 4px;
}

.btn-group{
     display: flex;
     gap: 4px;
}
.clear-btn, .submit-btn{
     width: 100%;
     background-color: var(--primary-color);
     border: none;
     padding: 0.5em 1rem;
     color: #d83a3a;
     font-weight: bold;
     cursor: pointer;
     margin-top: 2rem;
}
@media (pointer: coarse) {
     body{
          overflow: hidden;
     }

}
